[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=nikita
Group=www-data
WorkingDirectory=/home/nikita/todos/todos
ExecStart=/home/nikita/todos/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/nikita/todos/todos/todos.sock todos.wsgi:application

[Install]
WantedBy=multi-user.targety
